:root {
    --theme-color: white;
    --primary-color: rgb(146, 146, 146);
    --secundary-color: black;
    --text-color-inverse: rgb(255, 255, 255);
    --text-color: black;
    --navbar-shallow-color: rgb(146, 145, 145);
    --menu-mobile-background-color: rgb(39, 39, 39);

}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--theme-color);
    color:var(--text-color);
    padding-top: 70px;
}

a {
    text-decoration: none;
    color:var(--text-color)
}

.horizontal-padding{
    padding-left: 25px;
    padding-right: 25px;
} 

.vertical-padding {
    padding-top: 25px;
    padding-bottom: 25px;
}

.habilidades-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }
  
  .grid-item {
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    text-align: center;
  }

/* dudas con css y bootstrap

.mi-boton {
    background-color: #e75480;
    border-color: #e75480;
    color: white;
    border-radius: 30px;
    padding: 12px 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
  
  .mi-boton:hover {
    background-color: #d43f6e;
    border-color: #d43f6e;
  }

  */

@media (min-width: 950px) {
    .horizontal-padding{
        padding-left: 70px;
        padding-right: 70px;
    } 
    
    .vertical-padding {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}