.header {
  background-color: #343432;
  padding: 20px;
  text-align: center;
  color: rgb(146, 26, 116);
}
.header h1 {
  font-size: 2rem;
  margin: 0;
}
.header p {
  font-size: 1.2rem;
}

.footer {
  background-color: #8D99AE;
  padding: 20px;
  text-align: center;
}

li {
  color: #8D99AE;
}

.contacto {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.btn-ver {
  color: white;
  background-color: #571862;
}

h1 {
  color: #343432;
}

form#contactoForm {
  background-color: #571862;
}

button[type=submit] {
  background-color: #571862;
  color: white;
  border: none;
}