@use 'abstracts' as *;
@use 'components/header';
@use 'components/footer';
@use 'components/proyectos';

// ahora si escribir reglas

$color-boton: #571862;
$color-secundario: #8D99AE;
$color-principal: #343432;

form#contactoForm {
  background-color: $color-boton;
}

$color-boton: $color-boton;

// Cambiar el color del botón
button[type="submit"] {
  background-color: $color-boton;
  color: white;
  border: none;
}

// Cambié algo para hacer el commit de "sass configurado"