
@use '../abstracts' as *;  // Importa las variables de abstracts

$color-boton: #571862;
$color-secundario: #8D99AE;
$color-principal: #343432;

.footer {
  background-color: $color-secundario;  
  padding: 20px;
  text-align: center;

}

li{
  color: $color-secundario;
}

.contacto {
  color: white;
  font-size: 14px;
  font-weight: bold;
}
