// _header.scss
@use '../abstracts' as *;  // Importa las variables de abstracts

.header {
  background-color: $color-principal;  // Usa la variable $color-principal definida en _variables.scss
  padding: 40px;
  text-align: center;
  color: rgb(146, 26, 116);
  
  h1 {
    font-size: 2rem;
    margin: 0;
  }

  p {
    font-size: 1.2rem;
  }
}
