// _proyectos.scss
@use '../abstracts' as *;  // Importa las variables de abstracts


$color-boton: #571862;
$color-secundario: #8D99AE;
$color-principal: #343432;


.btn-ver {
color: white;
background-color: $color-boton;
}

h1{
    color: $color-principal;
}