// _variables.scss

// Colores
$color-principal: #ff5733;  // Naranja
$color-secundario: #3498db;  // Azul
$color-texto: #333;  // Gris oscuro

// Fuentes
$fuente-base: 'Arial', sans-serif;
$fuente-secundaria: 'Courier New', monospace;